ul {
    background: lightcoral;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.button {
    color: white;
    background: none;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    
  }
  
  .button:hover {
    border-bottom: 2px solid orange;
  }
  
  .button:focus {
    border-bottom: 2px solid orange;
    
  }
  


