.nav-buttons {
    background: lightcoral;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-button {
    color: white;
    background: none;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    cursor: pointer;
    font-size: 15px;
  }

  .nav-buttons > .active {
    border-bottom: 2px solid orange;
  }
  
  .nav-button:hover {
    border-bottom: 2px solid orange;
  }

/*   
  .nav-button:focus {
    border-bottom: 2px solid orange;
    outline:0 !important; 
  } */


  


