.contact-container{
    background-color:#8089a2;
    min-height: 310px;
    display: flex;
    justify-content: center;
 
    align-items: center;
    margin-top: 30px;
    margin: 10% 0;
    flex-wrap: wrap;
}

.connect-row {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.connect-card{
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

