@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


#projects{
  text-align: center;
  padding-top: 20px; 
}

#project-header{
  font-family: 'Peddana', serif;
  font-size: 100px;
  margin-bottom: 0; 
  padding-bottom: 0;
  /* border-style: solid;
  border-color: #a28089; */
}


.projects-container{
    /* border-style: solid;
    border-color: #a28089; */
    min-height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5%;
    /* margin: 5% 0; */
    flex-wrap: wrap;
    z-index: -1;
}

.hello{
  border-style: solid;
  width: 400px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.links{
  border-style: solid;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: black;
 
}

.goodbye{
  width: 400px;
  height: 270px;
  display: flex;
  display: flex;
  flex-direction: column;
}

.goodbye h1{
  margin-left: 10%
}

#first{
  margin-top: 15%;
  margin-left: 10%
}

#last{
  margin-top: 20%;
  margin-left: 10%
}

.scroll {
  display: flex;
  font-size: 2rem;
  color: orange;
  justify-content: center;
  margin-bottom: 80px;
}


.preview{
  border-style: solid;
  border-width: 1px;
  border-color: #85144b;
  height: 60px;
  width: 100px;
  margin: 0 1%;
  font-size: 0.75rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 1.0s ease;
  cursor: pointer;
}

.clicked{
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}


#itni{
  background-image: url("../images/itni.png");
  background-size: 100%;

}

#shoepalace{
  background-image: url("../images/shoe-palace.png");
  background-size: 100%;
}

#portfolio{
  background-image: url("../images/portfolio.png");
  background-size: 100%;
}
