@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.techcontainer {
    background-image: url('../images/mountains.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: orange;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 125px;
    padding-top: 150px;
    text-align: center;
    /* flex-direction: row; */
    flex-direction: column;
    z-index: -1;
    /* border-style: solid; */
}

.row {
    display: flex;
    justify-content: center;
    font-size: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-left: 50px;
    margin-right: 50px */
}

.tech-card{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tech-name{
    font-family: 'Cinzel', serif;
}

.tech-logo{
font-size: 60px;
}

#bottom-row{
    margin-top: 50px;
}

.tech-title{
    font-family: 'Peddana', serif;
    color: white;
    margin-top: 0px;
    font-size: 100px;
    
}


